{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "include": [ "src/**/*.ts" ],
  "exclude": [ "src/**/*.spec.ts", "src/reflection/debug/**/*.ts", "src/cli.ts" ]
}
